 {% extends "Layout.html" %}
{% block body %}
<body>
 
 <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>About</h2>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              Our Mission and Vision
            </p>
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
			<ul class="about-us-list">
            <li>Helping  the tribal, deprived and vulnerable adolescent girls by supplying our “Feel On” Organic &normal  sanitary napkins . </li>
			<li>Providing the  best quality pads in  lowest possible rates since each and every female  is being  our very special customer, </li>
			<li>Encouraging  and Helping & to empower the economically backward women group .</li>
			<li>Educating the needy to learn about mesural hygine and to be realized the responsibility of the female kind to generate her ward/heir with health and hale .</li> 
			</ul>
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
</body>
{%endblock%}
